.login-form {
    margin-top: 20px;
    width: 300px
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    font-weight: bold;
  }
  
  .field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .mt-1 {
    margin-top: 10px;
  }
  
.text-danger {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  